<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyectooxigen">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Oxigenate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoOxigen">


        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />


        <activity android:name=".Login.register"></activity>
        <activity android:name=".Login.start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProyectoOxigen.NoActionBar">
        </activity>
    </application>

</manifest>